@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #CFDDD0;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.poppins {
  font-family: 'Poppins', serif ;
}

html::-webkit-scrollbar {
  background: #CFDDD0;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #283429;
  border-radius: 0.75rem;
}
